.article
  +margin-top(1)

  h1
    color: $black
    +font-size(alpha)
    text-transform: uppercase

  h2
    color: $black
    +font-size(gamma)
    text-transform: uppercase

.article__meta
  +font-size(delta)
  +margin-bottom(0.5)
  color: $orange
  text-transform: uppercase

.article__heading
  +margin-bottom(2)
  line-height: 1.2

.article__heading__title

.article__author
  +margin-bottom(2)
  +font-size(epsilon)
  color: $grey

.article__image
  +margin-top(2)

.article__image__header
  margin-left: auto
  margin-right: auto
  text-align: center
  +font-size(smallprint)
  +margin-bottom(1)

.article__image__footer
  +margin-top(1)
  @extend .article__image__header
  text-align: left

hr.article__line
  margin-left: auto
  margin-right: auto
  color: $grey
  width: 40%
  +margin-top(2)
  +margin-bottom(1)
