.c100
  margin-top: 110px
  background-repeat: no-repeat
  background-position: center center
  background-color: $light-bg-color
  background-size: cover
  position: relative
  +vertical-padding(16)
  cursor: pointer
  transition: all 0.2s ease-in-out

.c100__body

.c100__body__inner
  width: 100%
  +position(absolute, none none 0 0)
  +margin-bottom(4)
  color: white

.c100__body__heading
  width: 100%

  +at-breakpoint(lap)
    width: 80%

.c100__body__title
  text-transform: uppercase
  +heading-font-family
  +font-size(mega)
  line-height: 1.2

.c100__body__subtitle
  +body-font-family
  +font-size(delta)
  +padding-top(1.5)
