- first_article = data.article.article[0]
= partial "partials/c100", locals: { article: first_article }
- second_article = data.article.article[1]
= partial "partials/c75", locals: { article: second_article }
- third_article = data.article.article[2]
= partial "partials/c75", locals: { article: third_article }
- other_articles = data.article.article[3..4]
= partial "partials/c50", locals: { other_articles: other_articles }
- other_articles = data.article.article[5..6]
= partial "partials/c50", locals: { other_articles: other_articles }
- other_articles = data.article.article[7..8]
= partial "partials/c50", locals: { other_articles: other_articles }
- other_articles = data.article.article[9..11]
= partial "partials/c33", locals: { other_articles: other_articles }
- other_articles = data.article.article[12..14]
= partial "partials/c33", locals: { other_articles: other_articles }
- other_articles = data.article.article[15..17]
= partial "partials/c33", locals: { other_articles: other_articles }
/- 2.times do
  /= partial "partials/c33"
/= partial "partials/list"
= partial "partials/prospetto"
