- first_article = data.article.article[0]
= partial "partials/c100", locals: { article: first_article }
- second_article = data.article.article[1]
= partial "partials/c75", locals: { article: second_article }
- other_articles = data.article.article[2..3]
= partial "partials/c50", locals: { other_articles:  other_articles }
/- 2.times do
  /= partial "partials/c33"
/= partial "partials/list"
= partial "partials/prospetto"
